$header-height: 60px;
$header-width: 100%;

$left-column-background: blue;
$middle-column-background: white;
$right-column-background: orange;

$header-background: rgba(black, 0.1);

$left-column-expanded-width: 150px;
$left-column-collapsed-width: 30px;

$right-column-expanded-width: 30%;
$right-column-collapsed-width: 10%;

$column-height: 100%;
