@import 'transition';

body {margin: 0;}

#example {

  position: relative;
  width: 50%;
  height: 50%;
  overflow: hidden;
  display:inline-block;

  * { box-sizing: border-box; }

  @import "variables";

  .row { width: 100%; }
  
  header, footer { 
    z-index: 3;
    position: absolute;
  }

  header {
    background: $header-background;
    top: 0;
  }

  footer {
    background: $footer-background;
    bottom: 0;
  }

  .column { height: 100%; }

  .left-column, .right-column { 
    position: relative;
    z-index: 2;
  }

  .left-column {
    float: left;
    background: $left-column-background;  
  }

  .right-column {
    float: right;
    background: $right-column-background;
  }

  .middle-column {
    position: absolute;
    z-index: 1;
    background: $middle-column-background;
  }

  .responds { height: 100%; width: 100%;}

  .middle-column .content {
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
  }

  &.left-column-expanded {
    .left-column { width: $left-column-expanded-width; }
    .responds-horizontally { padding-left: $left-column-expanded-width; }
  }

  &:not(.left-column-expanded){
    .left-column { width: $left-column-collapsed-width; }    
    .responds-horizontally { padding-left: $left-column-collapsed-width; }
  }

  &.right-column-expanded {
    .right-column { width: $right-column-expanded-width; }    
    .responds-horizontally { padding-right: $right-column-expanded-width; }
  }

  &:not(.right-column-expanded) {
    .right-column { width: $right-column-collapsed-width; }
    .responds-horizontally { padding-right: $right-column-collapsed-width; }
  }

  &.header-expanded {
    header { height: $header-expanded-height; }
    .responds-vertically { padding-top: $header-expanded-height; }
  }

  &:not(.header-expanded) {
    header { height: $header-collapsed-height; }
    .responds-vertically { padding-top: $header-collapsed-height; }    
  }

  &.footer-expanded {

    footer { height: $footer-expanded-height; }
    .responds-vertically { padding-bottom: $footer-expanded-height; }
  }

  &:not(.footer-expanded){
    footer {height: $footer-collapsed-height; }
    .responds-vertically { padding-bottom: $footer-collapsed-height; }    
  }
  
  .responds, .expands, .collapses {
    // transition: height $transition-length ease-in-out,
    //             width $transition-length ease-in-out,
    //             padding $transition-length ease-in-out;

    @include transition(height $transition-length ease-in-out, width $transition-length ease-in-out, padding $transition-length ease-in-out);
    // @include transition(width $transition-length ease-in-out);
    // @include transition(padding $transition-length ease-in-out);

  }

  @import 'arrow';
  @import 'states';

  &.header-expanded { @include header-is-expanded; }
  &:not(.header-expanded) { @include header-is-collapsed; }
  &.footer-expanded { @include footer-is-expanded; }
  &:not(.footer-expanded) { @include footer-is-collapsed; }
  &.left-column-expanded { @include left-column-is-expanded; }
  &:not(.left-column-expanded){ @include left-column-is-collapsed; }
  &.right-column-expanded { @include right-column-is-expanded; }
  &:not(.right-column-expanded){ @include right-column-is-collapsed; }

  .toggle-button-container {
    position: absolute;
    text-align:center;
  }

  .right-column , .left-column {
    .toggle-button {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .left-column .toggle-button { float: right; }
  .right-column .toggle-button { float: left; }

  header, footer {
    .toggle-button {
      display: inline-block !important;
      position: static !important;
      margin-left: -$toggle-button-width;
    }
  }

}