#example {

  position: relative;
  width: 50%;
  height: 40%;
  overflow: hidden;
  display:inline-block;

  * { box-sizing: border-box; }

  @import "variables";

  .left-column {
    z-index: 2;
    height: $column-height;
    background: $left-column-background;
    position: relative;
    float: left;
  }

  .right-column {
    z-index: 2;
    height: $column-height;
    background: $right-column-background;
    position: relative;
    float: right;
  }

  .middle-column {
    z-index: 1;
    height: $column-height;
    background: $middle-column-background;
    position: absolute;
    width: 100%;
  }

  .right-column , .left-column {
    .toggle-button-container {
      position: relative;
      top: 50%;
      margin-top: -$toggle-button-height;
    }
  }

  .left-column .toggle-button-container { 
    float: left;
    right: -100%;
  }

  .right-column .toggle-button-container {
    float:right;
    left: -100%;
  }

  header {
    z-index: 3; 
    width: $header-width;
    position: absolute;
    background: $header-background;
  }

  footer {
    z-index: 3; 
    width: $footer-width;
    position: absolute;
    bottom: 0;
    background: $footer-background;  
  }

  header, footer {
    .toggle-button-container{
      position: absolute;
      left: 50%;
      float: left;
      margin-left: -$toggle-button-width;
    }
  }

  @import 'arrow';
  @import 'states';

  &.header-expanded { @include header-is-expanded; }
  &:not(.header-expanded) { @include header-is-collapsed; }
  &.footer-expanded { @include footer-is-expanded; }
  &:not(.footer-expanded) { @include footer-is-collapsed; }
  &.left-column-expanded { @include left-column-is-expanded; }
  &:not(.left-column-expanded){ @include left-column-is-collapsed; }
  &.right-column-expanded { @include right-column-is-expanded; }
  &:not(.right-column-expanded){ @include right-column-is-collapsed; }

  header, footer { transition: height $transition-length ease-in-out; }
  .column {
    transition: width $transition-length ease-in-out,
                padding $transition-length ease-in-out,
  }

  .middle-column .content {
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
  }

}